* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-family: "Merriweather", serif;
  font-family: "Playwrite AU SA", serif;
  font-weight: 300;
  font-style: normal;
}
.word {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}
.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #333;
  background-color: #000000;
  color: white;
}
