* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  background-color: red;
}
.word {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}
